/*--------------------------------------------------------
Header/nav
---------------------------------------------------------*/

nav {
	text-align: right;
	color: white;
	}
.header-text {
	font-size: 20px;
	margin: 10px;
	position: relative;
	top: 20px;
	}
	.services {
		color: white;
	}
	.location {
		color: blue;
	}
	/*.btn-link {
		background-color: red;
	}*/
	/* unvisited link */
.btn-link:link {
    color: red;
}

/* visited link */
.btn-link:visited {
    color: white;
}

/* mouse over link */
.btn-link:hover {
    color: blue;
}

/*------------------------------------------------------
                  Hours Modal
------------------------------------------------------*/
.modal-title {
	color: red;
	text-shadow: 2px 2px purple;
	text-decoration: underline;
	font-weight: bolder;
	text-align: center;
	font-size: 30px;
	}
.modal-content {
	background-color: black;
	color: white;
	text-align: left;
	}
.th-header {
	font-weight: 700;
	text-decoration: underline;
	text-size: 25px;
	}
/*-------------------------------------------------------------------------------------------
                    Contact Us modal
---------------------------------------------------------------------------------------------*/
.modal-content {
	background: black;
	color: white;
	}
.contact-title {
	color: red;
	text-decoration: underline;
	text-shadow: 2px 2px purple;
	text-align: center;
	margin: 30px;
	}
#contact-name {
	position: relative;
	left: 0px
	}
#contact-email {
	position: relative;
	left: 0px;
	}
#contact-subject {
	position: relative;
	left: 0px;
	}
#contact-cc {
	position: relative;
	left: 0px;
	}
.contact-cc {
	position: relative;
	left: 0px;
	}
.contact-button {
	position: relative;
	left: 0px;
	}
.close {
	text-shadow: 2px 2px white;
	}
.contact-input {
	color: black;
	}
/*--------------------------------*/
         /*Carousel*/
/*---------------------------------*/
	.carousel-inner > .item > img,
	  .carousel-inner > .item > a > img {
	      width: 100%;
	      margin: auto;
	  }
/*--------------------------------*/
          /*Services Well*/
/*--------------------------------*/
.services-section {
	background-color: blue;
}

/*.panel-heading {
	background-color: red;
}*/

.services-well {
	margin: 2rem;
	font-size: 5rem;
	border-radius: 50%;
}

.panel {
	margin: 2rem;
}
.well-text {
	color: #ff1a1a;
	text-align: center;
	font-weight: bolder;
	text-shadow: 2px 2px blue;
	font-family: 
}

.services-text {
	color: #ff1a1a;
	text-align: center;
	font-weight: bolder;
	font-family: 
}

.price {
	color: blue;
	text-align: center;
	font-family: 
}

.services-footer {
	margin: 2rem;
	color: black;
	font-size: 3rem;
	text-align: center;
}
/*--------------------------------*/
       /*Map*/
/*---------------------------------*/
 #map-canvas {
      width: 100% auto;
      height: 675px;
      padding-right: 10px;
    }
    #content {
      width: 100px auto;
      height: 75px auto;
      font-size: 11px;
      border-radius: 50px;
      text-align: center;
    }
    #siteNotice {
      align-items: center;
    }
    img {
      height: 25%;
    }
/*--------------------------------------*/



